:root {
    /* title text */
    --font-extra-small: 1.2em;
    --font-small: 1.6em;
    --font-medium: 2em;
    --font-large: 2.5em;

    /* body text */
    --font-body-small: 0.9rem;
    --font-body-medium: 1.2rem;
    --font-body-large: 1.4rem;

    /* margenes */
    --mb-small: 0.8em;
    --mb-medium: 1.2em;
    --mb-large: 1.6em;
    --mb-extra-large: 2em;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'GeneralSans-Regular', sans-serif;
}

body {
    background-color: #F0F2F1;
}

li {
    margin-left: 30px;
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 0.4rem;
    background: #1D1D1B;
}

::-webkit-scrollbar-thumb {
    background: #F0F2F1;
    border-radius: .3rem;
}

#app {
    width: 90%;
    margin: auto;
}

#title {
    text-align: center;
}

.section {
    font-family: 'GeneralSans-Bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: -2px;
}

.semibold {
    font-family: 'GeneralSans-Semibold', sans-serif;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.school, .course, .honor {
    display: flex;
    justify-content: space-between;
}

footer {
    margin-top: 2em;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    #app {
        padding-top: 2em;
    }

    .section {
        font-size: var(--font-small);
    }

    .educ__school, .educ__content {
        line-height: 105%;
    }

    .schl {
        width: 40%;
        text-align: right;
    }

    .crse {
        width: 60%;
    }

    hr {
        margin-bottom: var(--mb-small);
    }

    .school, .course, .honor {
        margin-bottom: var(--mb-small);
    }

    .relevant, .project__name {
        font-size: var(--font-extra-small);
    }

    .contacts, .coursework, .description, .made, .skills, .certificates {
        font-size: var(--font-body-small);
    }

    .project {
        margin-bottom: var(--mb-small);
    }

    .title, .education__container, .projects__container, .certificate__container, .skillset__container {
        margin-bottom: var(--mb-large);
    }
}

@media only screen and (min-width: 768px) and (max-width: 1536px) {
    #app {
        padding-top: 2em;
    }

    .section {
        font-size: var(--font-medium);
    }

    .educ__school, .educ__content {
        line-height: 105%;
    }

    .schl {
        width: 40%;
        text-align: right;
    }

    .crse {
        width: 60%;
    }

    hr {
        margin-bottom: var(--mb-medium);
    }

    .school, .course, .honor {
        margin-bottom: var(--mb-small);
    }

    .relevant {
        font-size: var(--font-extra-small);
    }

    .educ__school {
        font-size: 1.4em;
    }

    .project__name {
        font-size: var(--font-small);
    }

    .educ__content, .contacts, .coursework, .description, .made, .skills, .certificates {
        font-size: var(--font-body-medium);
    }

    .project {
        margin-bottom: var(--mb-small);
    }

    .title, .education__container, .projects__container, .certificate__container, .skillset__container {
        margin-bottom: var(--mb-large);
    }
}

@media only screen and (min-width: 1537px) {
    #app {
        padding-top: 3em;
        width: 70%;
    }

    .educ__school, .educ__content {
        line-height: 105%;
    }

    .section {
        font-size: var(--font-large);
    }

    .crse {
        width: 40%;
    }

    hr {
        margin-bottom: var(--mb-medium);
    }

    .school, .course, .honor {
        margin-bottom: var(--mb-medium);
    }

    .educ__school {
        font-size: 1.5em;
    }

    .project__name {
        font-size: var(--font-medium);
        letter-spacing: -2px;
    }

    .educ__content, .contacts, .coursework, .description, .made, .skills, .certificates {
        font-size: var(--font-body-large);
    }

    .project {
        margin-bottom: var(--mb-medium);
    }

    .title, .education__container, .projects__container, .certificate__container, .skillset__container {
        margin-bottom: var(--mb-extra-large);
    }
}
